* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 1rem 6rem;
  position: fixed;
  width: 100vw;
  color: white;
}

.header img {
  width: 2rem;
  margin-right: 1rem;
}

.header a {
  margin-left: auto;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
}

.jumbotron {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.jumbotron img {
  width: 8rem;
  margin-right: 3rem;
}

.jumbotron h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.jumbotron h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #666;
}

.jumbotron > .button-container {
  margin-top: 1rem;
  display: flex;
}

.jumbotron > .button-container #app-store {
  margin-right: 2rem;
}

.jumbotron-inner-container {
  display: flex;
}

.jumbotron a {
  margin-top: 2rem;
  background-color: black;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

.feature-container {
  display: flex;
  flex-direction: row;
}

.feature-container-text {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  padding: 4rem;
  width: 50vw;
}

.feature-container-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

.feature-container-text p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.feature-container-image {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
}

.feature-container-image img {
  margin: 5% 30% -15% 30%;
  width: 40%;
  border-radius: 1rem;
  box-shadow: #ababab 0 1rem 3rem;
}
