* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 1rem 2rem;
  position: fixed;
  width: 100vw;
  color: white;
}

.header img {
  width: 2rem;
  margin-right: 1rem;
}

.header a {
  margin-left: auto;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
}

.jumbotron {
  padding: 3rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.jumbotron img {
  width: 4rem;
  margin-right: 1rem;
}

.jumbotron h1 {
  margin-bottom: 0.5rem;
}

.jumbotron h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #666;
}

.jumbotron > .button-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jumbotron-inner-container {
  display: flex;
}

.jumbotron a {
  width: 100%;
  margin-top: 1rem;
  background-color: black;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.feature-container {
  display: flex;
  flex-direction: column;
}

.feature-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 2rem;
}

.feature-container-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.feature-container-text p {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.25rem;
}

.feature-container-image {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature-container-image img {
  margin: 7.5% 30% -12.5% 30%;
  width: 40%;
  border-radius: 1.25rem;
  border: 0.5rem solid black;
  box-shadow: #565656 0 5px 2.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #eee;
}

.contact h3 {
  font-size: 1rem;
  color: #666;
  font-weight: normal;
}

.contact a {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  .header {
    padding: 1rem 5rem;
  }

  .jumbotron {
    padding: 3rem 0 0 0;
  }

  .jumbotron img {
    width: 8rem;
    margin-right: 3rem;
  }

  .jumbotron h3 {
    font-size: 2rem;
  }

  .jumbotron > .button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 30%;
  }

  .jumbotron > .button-container #app-store {
    margin-right: 2rem;
  }

  .jumbotron a {
    margin-top: 2rem;
    background-color: black;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .feature-container {
    flex-direction: row;
  }

  .feature-container-text {
    padding: 5rem 10rem 5rem 5rem;
    width: calc(50vw - 10px);
  }

  .feature-container-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .feature-container-text p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .feature-container-image {
    width: calc(50vw - 10px);
  }

  .feature-container-image img {
    margin: 7.5% 30% -12.5% 30%;
    width: 40%;
    border-radius: 2.25rem;
    border: 0.95rem solid black;
  }

  .contact {
    height: 50vh;
  }

  .contact h3 {
    font-size: 2rem;
  }

  .contact a {
    font-size: 4rem;
  }
}
